body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    background-image: url('../Images/paperTexture.png');
}
.layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*background-color: #928e7f25;*/
}

/**styling the landing page**/
.rightSideLanding {
    display: flex;
    background-image: linear-gradient(to top, #88220d, #C14025);
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.bigLinks {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    list-style: none;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 30px;
}
.bigLinks li a {
    text-decoration: none;
    color: #f0f5f8;
    padding: 5px;
    border-radius: 5px;
}
.bigLinks li a:hover {
    background-color: #88220d;
}
#landingInfo {
    color: #f0f5f8;
    max-width: 450px;
    margin-left: 40px;
}
#landingPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.topPassionImage {
    background-color: #e4cca69a;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/**responsive to window size**/
@media only screen and (max-width: 890px) {
    #landingPage {
      flex-direction: column;
    }
    .bigLinks {
        align-items: center;
        gap: 10px;
    }
    .passionImage {
        max-width: 500px;
    }
    #thalmannBio {
        flex-direction: column;
        align-items: center;
    }
    #artMosaic img {
        max-width: 400px;
    }
}


/**styling the header and nav bar**/
header {
    display: flex;
    flex: none;
    justify-content: space-between;
    padding-top: 40px;
    background-image: linear-gradient(to right, #88220d, #C14025);
    box-shadow: 0px 10px 20px rgba(34, 34, 34, 0.315);
}
header h1 {
    padding: 0px 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
}
header p {
    margin-top: 0px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}
.logo {
    color: #f0f5f8;
    margin-left: 20px;
}
.logo a {
    text-decoration: none;
    color: #f0f5f8;
}
.navigation {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 30px 0px 0px;
}
.navigation li {
    margin: 12px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
}
.navigation li a {
    color: #f0f5f8;
    text-decoration: none;
    padding: 11px;
    border-radius: 6px;
}
.navigation li a:hover {
    background-color: #88220d;
}


/**styling the artist page**/
#thalmannBio {
    display: flex;
    justify-content: center;
    align-items: center;
}
#bioText {
    max-width: 470px;
    display: inline;
    background-image: linear-gradient(to bottom right, #fac97a4b, #a0670c65);
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
    height: 100%;
    box-shadow: 0px 10px 20px rgba(34, 34, 34, 0.315);
}
#bioText h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}
#headshot {
    display: inline;
    max-width: 400px;
    box-shadow: 0px 10px 20px rgba(34, 34, 34, 0.315);
}


/**styling the collection page**/
.formatExplainer {
    margin: 50px 0px;
    max-width: 740px;
    background-image: url('../Images/paperTexture.png');
    box-shadow: 0px 10px 100px rgba(34, 34, 34, 0.115);
    padding: 10px 30px;
    border-radius: 25px;
}
#tableContainer {
    box-shadow: 0px 10px 100px rgba(34, 34, 34, 0.115);
    border-radius: 25px;
    max-width: 800px;
    margin-bottom: 100px;
}
table {
    width: 100%;
}
td {
    vertical-align: top;
    padding: 7px;
    border-bottom: .5mm solid black;
}
#tableEmpty td {
    border-bottom: unset;
}
thead {
    font-style: oblique;
    font-weight: 600;
}
.column {
    text-align: right;
    background-image: url('../Images/paperTexture.png');
    font-style: oblique;
    font-weight: 600;
}
.figureDrawings {
    background-color: rgba(193, 63, 37, 0.1);
}
.figureDrawings tr:hover {
    background-color: rgba(193, 63, 37, 0.6);
}
.portraits {
    background-color: rgba(193, 120, 37, 0.1);
}
.portraits tr:hover {
    background-color: rgba(193, 120, 37, 0.6);
}
.derDomStudie {
    background-color: rgba(193, 164, 37, 0.1);
}
.derDomStudie tr:hover {
    background-color: rgba(193, 164, 37, 0.6);
}
.derDomFinal {
    background-color: rgba(120, 193, 37, 0.1);
}
.derDomFinal tr:hover {
    background-color: rgba(120, 193, 37, 0.6);
}
.passion {
    background-color: rgba(37, 193, 89, 0.1);
}
.passion tr:hover {
    background-color: rgba(37, 193, 89, 0.6);
}
.landscapes {
    background-color: rgba(37, 193, 172, 0.1);
}
.landscapes tr:hover {
    background-color: rgba(37, 193, 172, 0.6);
}
.america {
    background-color: rgba(37, 144, 193, 0.1);
}
.america tr:hover {
    background-color: rgba(37, 144, 193, 0.6);
}
.africa {
    background-color: rgba(37, 66, 193, 0.1);
}
.africa tr:hover {
    background-color: rgba(37, 66, 193, 0.6);
}
.misc {
    background-color: rgba(144, 37, 193, 0.1);
}
.misc tr:hover {
    background-color: rgba(144, 37, 193, 0.6);
}

/**styling the footer**/
footer {
    background-color: #88220d;
    margin: 0;
    padding: 10px;
    color: #f0f5f8;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
footer p {
    margin: 0;
    padding-right: 30px;
}


/**styling the art page**/
#artMosaicContainer {
    display: flex;
    justify-content: center;
}
#artMosaic {
    margin-bottom: 100px;
    display: inline-block;
    flex-direction: column;
    text-align: center;
    max-width: 90vw;
}
#artMosaic img {
    display: block;
    max-height: 450px;
    box-shadow: 0px 10px 20px rgba(34, 34, 34, 0.315);
}
#artMosaic figure {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 10px;
    transition: scale 0.1s ease-in-out;
}

#artMosaic figcaption {
    max-width: 100%;
    position: absolute;
    bottom: -10%;
    background-color: rgb(136, 34, 13);
    font-size: 24px;
    color: #ffffff;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#artMosaic figure:hover figcaption {
    opacity: 1;
}

#artMosaic figure:hover {
    transform: scale(1.5);
    z-index: 1;
}
